:root {
    --bg-color-header-footer: #2C3E50;
    --bg-color-hero-about: #1ABC9C;
    --font-color-dark: #333333;
    --bg-color-top-footer: #3A546D;
    --color-border-line: #CCCCCC;
}

/* .debug .row>[class*="col"] {
    border: 1px solid white;
    background-color: lightsalmon;
    border-radius: 5px;
    height: 50px
} */

.debug header,
.debug main {
    background-color: lightgray;

}

/* .debug section {
    background-color: lightgreen;

} */

section.debug,
footer.debug {
    background-color: lightgray;
}

img {
    max-width: 100%;
}

.bg_dark_custom {
    background-color: var(--bg-color-header-footer);
}
.bg_hero_custom {
    background-color: var(--bg-color-hero-about);
}
.bg_top_footer {
    background-color: var(--bg-color-top-footer);
}

.bg_line_dark {
    background-color: var(--font-color-dark);
}

.text_custom {
    color: var(--bg-color-hero-about);
}

.text_dark_custom {
    color: var(--font-color-dark);
}


#start_bootstrap img {
    width: calc(100vw / 4);
}

.line_star {
    width: calc(100vw / 10);
    height: 3px;
    /* background-color: white; */
    border-radius: 50px;
}